.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  background: transparent;
  background-image: url(../images/delete.svg);
  border: 0;
  width: 18px;
  height: 19px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.6;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 25px 20px;
}

.card__title {
  font-size: 24px;
  font-family: "Inter", Arial, sans-serif;
  line-height: normal;
  font-weight: 900;
  margin: 0;
  color: black;
  max-width: 219px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent;
  background-image: url(../images/like-inactive.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 21px;
  height: 18px;
  padding: 0;
  border-style: none;
}

.card__like-button_active {
  background-image: url(../images/like-active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
